.container{
    max-width: 600px;
    max-height: 800px;
    background-color: lightblue;
    margin: auto;
}
.input1{
     max-width: 800px;
     margin-bottom: 10px;
     background-color: rgb(128, 86, 7);
}
input{
    width:550px;
    margin-left: 10px;
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 29px;
    margin-bottom: 10px;
}
.button button{
    width: 171px;
    height: 38px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background: white;
    border-radius: 20px;
    cursor: pointer;
}
.button button:hover{
    background-color: rgb(128, 86, 7);
    color: white;
}
.have{
    margin: auto;
}